In [1]:
#Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
MLAB = wb.DataReader('MOREPENLAB.NS', data_source= "yahoo", start = '2010-1-1')
MLAB.head()

            Open  High   Low  Close  Adj Close    Volume
Date
2010-01-04  9.45  9.45  9.45   9.45       9.45       0.0
2010-01-05  9.55  9.80  9.20   9.35       9.35  501754.0
2010-01-06  9.45  9.55  9.35   9.40       9.40  313310.0
2010-01-07  9.45  9.70  9.30   9.35       9.35  345350.0
2010-01-08  9.35  9.60  9.35   9.40       9.40  344954.0

In [5]:
MLAB['log_return'] = np.log(MLAB['Adj Close']/MLAB['Adj Close'].shift(1))
print(MLAB['log_return'])

Date
2010-01-04         NaN
2010-01-05   -0.010638
2010-01-06    0.005333
2010-01-07   -0.005333
2010-01-08    0.005333
2010-01-11    0.010582
2010-01-12    0.025975
2010-01-13    0.035268
2010-01-14    0.024451
2010-01-15   -0.014599
2010-01-18   -0.004914
2010-01-19   -0.009901
2010-01-20   -0.015038
2010-01-21   -0.030772
2010-01-22   -0.042560
2010-01-25   -0.010929
2010-01-27    0.094311
2010-01-28   -0.077962
2010-01-29   -0.032970
2010-02-01    0.000000
2010-02-02   -0.016902
2010-02-03    0.011300
2010-02-04   -0.016998
2010-02-05   -0.040822
2010-02-06         NaN
2010-02-08         NaN
2010-02-09   -0.011834
2010-02-10   -0.005970
2010-02-11    0.000000
2010-02-15    0.000000
                ...
2017-11-03   -0.010959
2017-11-06    0.021799
2017-11-07   -0.049734
2017-11-08    0.005650
2017-11-09    0.101692
2017-11-10   -0.049554
2017-11-13    0.031581
2017-11-14   -0.007802
2017-11-15   -0.007864
2017-11-16    0.013072
2017-11-17   -0.013072
2017-11-20    0.130566
2017-11-21   -0.032867
2017-11-22   -0.002390
2017-11-23    0.064837
2017-11-24    0.000000
2017-11-27    0.041718
2017-11-28   -0.004310
2017-11-29   -0.017430
2017-11-30   -0.004405
2017-12-01    0.128275
2017-12-04    0.078398
2017-12-05   -0.010830
2017-12-06   -0.046434
2017-12-07    0.053667
2017-12-08   -0.010870
2017-12-11   -0.067823
2017-12-12   -0.023670
2017-12-13   -0.004000
2017-12-14   -0.010071
Name: log_return, Length: 1969, dtype: float64

In [6]:
#Annual return
log_return_a = MLAB['log_return'].mean() * 250
print(log_return_a)

0.166466230258

In [7]:
#Risk
risk = MLAB['log_return'].std() * 250**0.5
print(risk)

0.606180712982